.tab ul li{
    float: left;
    padding: 0 20px;
    list-style: none;
    border: 1px solid gray;
    cursor: hand;
}

.tab ul li:hover{
    background-color: gray;
    color: white;
}

.tab ul .selected, .tab ul .selected:hover{
    background-color: orange;
    color: white;
    font-weight: bold;
}

.tab .content{
    display: block;
    clear: both;
    padding: 20px;
}